.top{
    color: blue;
    display: block
}
#vallie{
    font-style: italic;
}
.footer{
border: 1px;
background-color: blue;
color: white;
display: flex;
flex-direction: row;
height: 400px;
font-size: larger;
align-items: center;
}
.footer1{
margin: auto;
}
#bld{
    font-size: larger;
    font-weight: bold;
}
.footer1 ul li{
    list-style: none;
}
