*{
    background-color: #2549D3, #0F298B, #FAFAFA;
    font-style: Space Grotesk, Oleo Script;
}
.top{
    color: blue;
    display: block
}
#vallie{
    font-style: italic;
}
.footer{
border: 1px;
background-color: blue;
color: white;
display: flex;
flex-direction: row;
height: 400px;
font-size: larger;
align-items: center;
}
.footer1{
margin: auto;
}
#bld{
    font-size: larger;
    font-weight: bold;
}
.footer1 ul li{
    list-style: none;
}
.customers{
    display: flex;
    flex-direction: row;
    margin: auto;
}
.alex{
    border: solid white;
    margin: auto;
    padding-bottom: 15px;
    background-color: burlywood;
    border-radius: 5%;
    
}
.est{
    text-align: center;
}
.imag{
    display: flex;
    flex-direction: row;
    border: solid white;
    border-radius: 5%;
    margin: auto;
}
.feat{
    text-align: center;
}
.us{
    display: flex;
    flex-direction: row
}
.mark{
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
}
.and{
    margin: auto;
    border: solid white ;
    border-radius: 5%;
    text-align: center;
}
.how{
    text-align: center;
    padding-bottom: 15px;
    font-size: larger;
}
#it{
    color: #2549D3;
}
#our{
    padding-left: 100px;
    font-size: larger;
    color: #2549D3;
}
.direction{
    border: solid white;
    margin: auto;
    display: flex;
}
.lo{
    margin: auto;
}
#button2{
    font-size: larger;
    background-color: #2549D3;
    color: white;
    height: 60px;
    width: 120px;
    text-align: center;
    border-radius: 5%;
}
#button2 h2{
    padding: auto;
}
.objective{
    display: flex;
}
.intro{
    font-size: larger;
    margin: 100px;
}
#aim{
color: #2549D3;
font-size: xx-large;;
}
.image1{
    margin-left: 150px;
}
.describe{
    font-size: x-large;
}
.top{
    display: flex;
    flex-direction: row;
    border: 1px;
    margin: auto;
}