*{
    background-color: #2549D3, #0F298B, #FAFAFA;
    font-style: Space Grotesk, Oleo Script;
}
.footer{
border: 1px;
background-color: blue;
color: white;
display: flex;
flex-direction: row;
height: 400px;
font-size: larger;
align-items: center;
}
.footer1{
margin: auto;
}
#bld{
    font-size: larger;
    font-weight: bold;
}
.footer1 ul li{
    list-style: none;
}
.customers{
    display: flex;
    flex-direction: row;
    margin: auto;
}
.alex{
    border: solid white;
    margin: auto;
    padding-bottom: 15px;
    background-color: white;
    border-radius: 5%;
    
}
.alex h2{
font-size: larger;
}
.est{
    text-align: center;
}
.est h2{
    font-size: 36px;
    color: #2549D3;
}
.est p{
    font-size: 28px;
}
.feat h2{
    color: #2549D3;
    font-size: 36px;
}
.feat p{
    font-size: 32px;
}
.imag{
    display: flex;
    flex-direction: row;
    margin: auto;
}
.palace{
    border: block white;
    background-color: aqua;
    margin: 30px;
    border-radius: 10%;
}
.rory{
    border: block white;
    background-color: gainsboro;
    margin: 30px;
    border-radius: 10%;
}
.rexona{
    border: block white;
    background-color: rebeccapurple;
    margin: 30px;
    border-radius: 10%;
}
.view { 
border: 1px;
}
.feat{
    text-align: center;
}
.us{
    display: flex;
    flex-direction: row
}
.mark{
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
}
.and{
    margin: auto;
    border: solid white ;
    border-radius: 5%;
    text-align: center;
}
.how{
    text-align: center;
    padding-bottom: 15px;
    font-size: larger;
}
#it{
    color: #2549D3;
}
#our{
    padding-left: 100px;
    font-size: 36px;
    color: #2549D3;
}
.direction{
    border: solid white;
    margin: auto;
    display: flex;
}
.lo{
    margin: auto;
}
.lo h3{
    color: #2549D3;
}
#button2{
    font-size: larger;
    background-color: #2549D3;
    color: white;
    height: 60px;
    width: 120px;
    text-align: center;
    border-radius: 5%;
}
#more{
    text-align: right;
    border: solid white ;
}
#button2 h2{
    padding: auto;
}
.objective{
    display: flex;
    padding-top: 50px;
}
.intro{
    padding-left: 30px;
}
#aim{
color: #2549D3;
font-size: 36px;
}
.image1{
    margin-left: 150px;
}
#describe{
    font-size: 28px;
}
.top{
    display: flex;
    flex-direction: row;
    border-bottom: solid grey 5px;
}
.pop{
    margin: auto;
}
#val{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: serif;
}
#h{
    color: #2549D3;
}
#get{
    border: 1px;
    background-color: #2549D3;
    color: white;
    text-align: center;
    border-radius: 5%;
    padding: 10px;
}
.world h2{
    font-size: 36px;
    color: #2549D3;
}
.world p{
    font-size: 28px;
}
.las{
    display: flex;
    flex-direction: column;
    font-weight: bold;
}