*{
    background-color: #2549D3, #0F298B, #FAFAFA;
    font-style: Space Grotesk, Oleo Script;
}
.top{
    color: blue;
    display: block
}
#vallie{
    font-style: italic;
}
.footer{
border: 1px;
background-color: blue;
color: white;
display: flex;
flex-direction: row;
height: 400px;
font-size: larger;
align-items: center;
}
.footer1{
margin: auto;
}
#bld{
    font-size: larger;
    font-weight: bold;
}
.footer1 ul li{
    list-style: none;
}
.customers{
    display: flex;
    flex-direction: row;
    margin: auto;
}
.alex{
    border: solid white;
    margin: auto;
    padding-bottom: 15px;
    background-color: burlywood;
    border-radius: 5%;
    
}
.est{
    text-align: center;
}
.imag{
    display: flex;
    flex-direction: row;
    border: solid white;
    border-radius: 5%;
    margin: auto;
}
.feat{
    text-align: center;
}
.us{
    display: flex;
    flex-direction: row
}