.top{
    color: blue;
    display: block
}
#vallie{
    font-style: italic;
}
.footer{
border: 1px;
background-color: blue;
color: white;
display: flex;
flex-direction: row;
}
.footer1{
margin: auto;
}
